/*
 html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
ul { padding: 0px; margin: 0px; list-style: none; }

@font-face {
  font-family: 'TeXGyreHerosRegular';
  src: url('texgyreheros-regular-webfont.woff') format('woff'),
       url('texgyreheros-regular-webfont.ttf') format('truetype'),
       url('texgyreheros-regular-webfont.svg#webfonth5L3g9Xm') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.gl {
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 10px rgba(200,200,200,0.2), 
    inset 0 10px 20px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 10px rgba(200,200,200,0.2), 
    inset 0 10px 20px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px rgba(255,255,255,0.3), 
    inset 0 10px rgba(200,200,200,0.2), 
    inset 0 10px 20px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(0,0,0,0.3);
}

/*
 Icons
*/

@font-face {
  font-family: 'IconicStroke';
    src: url("iconic_stroke.woff") format('woff'),
         url("iconic_stroke.ttf") format('truetype'),
         url("iconic_stroke.svg#iconic") format('svg'),
	       url("iconic_stroke.otf") format('opentype');
}

.iconic {
  font-size: 20px;
  color: gray;
	font-family: "IconicStroke";
}

.iconic:hover {
	color: white;
}

.iconic.home:before { content: '!'; }
.iconic.at:before { content: "@"; }
.iconic.quote:before { content: '"'; }
.iconic.quote-alt:before { content: "'"; }
.iconic.arrow-up:before { content: "3"; }
.iconic.arrow-right:before { content: "4"; }
.iconic.arrow-bottom:before { content: "5"; }
.iconic.arrow-left:before { content: "6"; }
.iconic.arrow-up-alt:before { content: "#"; }
.iconic.arrow-right-alt:before { content: "$"; }
.iconic.arrow-bottom-alt:before { content: "%"; }
.iconic.arrow-left-alt:before { content: "^"; }
.iconic.move:before { content: "9"; }
.iconic.move-vertical:before { content: "8"; }
.iconic.move-horizontal:before { content: "7"; }
.iconic.move-alt:before { content: "("; }
.iconic.move-vertical-alt:before { content: "*"; }
.iconic.move-horizontal-alt:before { content: "&"; }
.iconic.cursor:before { content: ")"; }
.iconic.plus:before { content: "+"; }
.iconic.plus-alt:before { content: "="; }
.iconic.minus:before { content: "-"; }
.iconic.minus-alt:before { content: "_"; }
.iconic.new-window:before { content: "1"; }
.iconic.dial:before { content: "2"; }
.iconic.lightbulb:before { content: "0"; }
.iconic.link:before { content: "/"; }
.iconic.image:before { content: "?"; }
.iconic.article:before { content: ">"; }
.iconic.read-more:before { content: "."; }
.iconic.headphones:before { content: ","; }
.iconic.equalizer:before { content: "<"; }
.iconic.fullscreen:before { content: ":"; }
.iconic.exit-fullscreen:before { content: ";"; }
.iconic.spin:before { content: "["; }
.iconic.spin-alt:before { content: "{"; }
.iconic.moon:before { content: "]"; }
.iconic.sun:before { content: "}"; }
.iconic.map-pin:before { content: "\\"; }
.iconic.pin:before { content: "|"; }
.iconic.eyedropper:before { content: "~"; }
.iconic.denied:before { content: "`"; }
.iconic.calendar:before { content: "a"; }
.iconic.calendar-alt:before { content: "A"; }
.iconic.bolt:before { content: "b"; }
.iconic.clock:before { content: "c"; }
.iconic.document:before { content: "d"; }
.iconic.book:before { content: "e"; }
.iconic.book-alt:before { content: "E"; }
.iconic.magnifying-glass:before { content: "f"; }
.iconic.tag:before { content: "g"; }
.iconic.heart:before { content: "h"; }
.iconic.info:before { content: "i"; }
.iconic.chat:before { content: "j"; }
.iconic.chat-alt:before { content: "J"; }
.iconic.key:before { content: "k"; }
.iconic.unlocked:before { content: "l"; }
.iconic.locked:before { content: "L"; }
.iconic.mail:before { content: "m"; }
.iconic.mail-alt:before { content: "M"; }
.iconic.phone:before { content: "n"; }
.iconic.box:before { content: "o"; }
.iconic.pencil:before { content: "p"; }
.iconic.pencil-alt:before { content: "P"; }
.iconic.comment:before { content: "q"; }
.iconic.comment-alt:before { content: "Q"; }
.iconic.rss:before { content: "r"; }
.iconic.star:before { content: "s"; }
.iconic.trash:before { content: "t"; }
.iconic.user:before { content: "u"; }
.iconic.volume:before { content: "v"; }
.iconic.mute:before { content: "V"; }
.iconic.cog:before { content: "w"; }
.iconic.cog-alt:before { content: "W"; }
.iconic.x:before { content: "x"; }
.iconic.x-alt:before { content: "X"; }
.iconic.check:before { content: "y"; }
.iconic.check-alt:before { content: "Y"; }
.iconic.beaker:before { content: "z"; }
.iconic.beaker-alt:before { content: "Z"; }


/*
 Main Style
*/

body, input {
  font: 13px 'TeXGyreHerosRegular', Arial, sans-serif;
  color: #DADADA;
  letter-spacing: 1px;
  background-color: #212121;

}


::selection {
  background: white;
  color: black;
}

a {
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  transition: color .5s ease;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #00b7fa;
}

header {
  background-color: rgba(30, 30, 30, 0.7);
  border-bottom: solid 1px rgb(41, 41, 41);
  position: relative;
  z-index: 2;
  height: 20px;
  padding: 7px;
  font-weight: bold;
  font-size: 14px;
}

#buttonBar {
  float: right;
}

#settings {
}

#logout {
  margin-left: 20px;
  cursor: pointer;
}

#logout:hover {
  color: white;
}

section {
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 35px;
}

#microBar {
  position: fixed;
  width: 100%;
  height: 1px;
  background-color: red;
  z-index: 101;
  top: 0px;
  left: 0px;
}

#container {
  z-index: 2;
  float:left;
  position: absolute;
  width: 84.8%;
  height: 100%;
}


#content {
  position: absolute;
  top: 0px;
  bottom: 28px;
  overflow: auto;
  width: 100%;
  background-color: hsla(0, 0%, 19%, 0.3);
}

#content li {
  padding: 6px;
  background-color: hsla(0, 0%, 19%, 0.7);
}

#content li:nth-child(odd) {
  background-color: hsla(0, 0%, 22%, 0.7);
}

.name {
  font-weight: bold;
  color: #069DE0;
}

.msg {
  text-shadow: 0px -1px 1px black;
}



/*
 Input box
*/

#entryField {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0px;
}

#entryBox {
  width: 99%;
  border: none;
  outline: none;
  padding: 0.5%;
  color: white;
  background: rgba(0,0,0,0.5);
}


/*
 Userlist
*/

#sideBar {
  z-index: 2;
  right: 0px;
  position: absolute;
  width: 15%;
  height: 100%;
  padding-left: 3px;
  font-size: 14px;
  border-left: solid 1px rgba(56, 56, 56, 0.7);;
}

#userList {
  padding: 5px;
}



/*
 Overlay login
*/

#credentials {
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  -moz-box-shadow: 0 0 10px #1A9CC9;
  -webkit-box-shadow: 0 0 10px #1A9CC9;
  box-shadow: 0 0 10px #1A9CC9;
  border: none;
  outline: none;
}


#loginPane {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 80px;
  margin-left: -100px;
  margin-top: -40px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  z-index: 101;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #212121;
  background: -moz-linear-gradient(
    top, 
    #909090 0%,
    #000000 100%
  );
  background: -webkit-gradient(
    linear, 
    left top, 
    left bottom, 
    color-stop(0%,#909090), 
    color-stop(100%,#000000)
  );
  z-index: 100;
}


/*
 Webkit only
*/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 3px;
}

::-webkit-scrollbar-track-piece {
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(rgba(0,0,0,0.6)),
    to(rgba(0,0,0,0.3))
  );
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.35);
  -webkit-border-radius: 5px;
}


::-webkit-scrollbar-thumb:vertical{
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#888888),
    to(#585858)
  );
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
}

::-webkit-scrollbar-thumb:vertical:hover{
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#999999),
    to(#707070)
  );
}

::-webkit-scrollbar-thumb:vertical:active{
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#BBBBBB),
    to(#999999)
  );
}

::-webkit-scrollbar-track-piece:horizontal{
  background: none;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar:horizontal{
  height: 12px;
}

::-webkit-scrollbar-thumb:horizontal{
  height: 12px;
  -webkit-border-radius: 12px;
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(rgba(0,0,0,0.4)),
    to(rgba(0,0,0,0.2))
  );
  border: 6px solid transparent;
  -webkit-background-clip: padding-box;
}